extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_governance
      .l-main.m-page
        h1 Governance
        p Signature’s Board of Directors and management team is composed of highly qualified individuals that bring a wealth of experience and expertise to the organization. The five person board is chaired by the CEO, Craig Bouchard and has four independent directors. The Company’s management team has a diverse background managing both large and small public and private companies. All parties are singularly focused on building the organization and creating value for our shareholders.
