extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_about
      .l-main.m-page
        h1 Cosmedicine
        p Cosmedicine sells a line of scientifically formulated skincare products that have been independently tested. The products can be purchased online or through one of our other distribution channels.
