extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_about
      .l-main
        h1 NABCO
        p North American Breaker Co., “NABCO” is a wholly owned subsidiary of Signature Group Holdings, Inc. and the core asset of its Industrial Supply division. The Company is headquartered in Burbank, California and is one of the largest independent suppliers of circuit breakers in the United States. Industrial Supply’s niche is focused on the replacement market, particularly for commercial and industrial circuit breakers. It also supplies the primary market for residential circuit breakers. Industrial Supply operates from eight warehouse locations across the United States, which facilitates next day ground shipping service to a broad section of its customer base. NABCO sells through wholesale distribution only and will not sell directly to contractors or end users.
