extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_about
      .l-main.m-page
        img.page-featured(src=assets.url('/images/overview.jpg'))
        h1 Overview

        h2 Company
        p Signature Group Holdings, Inc. is a publicly traded company, seeking to invest its capital in large, well-managed and consistently profitable businesses.
        p The Company is incorporated in Delaware and has significant capital resources and federal net operating loss tax carryforwards of approximately $887.3 million. The Company is actively seeking to make acquisitions as well as grow its existing operations. Signature expects growth in the short term to be primarily a result of closing accretive acquisitions.

        p The company currently has one current wholly owned subsidiary, North American Breaker Co., an industrial supply business operating out of Burbank, California which is one of the largest independent suppliers of circuit breakers in the US.Oversight and Guidance

        h2 NABCO
        p North American Breaker Co., "NABCO" is a wholly owned subsidiary of Signature Group Holdings, Inc. and the core asset of its Industrial Supply division. The Company is headquartered in Burbank, California and is one of the largest independent suppliers of circuit breakers in the United States. NABCO’s niche is focused on the replacement market for commercial and industrial circuit breakers and the company also supplies the primary market for residential circuit breakers. NABCO operates from multiple warehouse locations both nationally and internationally, which facilitates next day ground shipping service to a broad section of its customer base.
