// General Containers

.l-constrained {
  @include outer-container;
  min-width: 48em;
  padding: 0 $page-gutter;
}

.l-constrained-medium {
  @include outer-container;
  max-width: 50em;
  min-width: 48em;
  padding: 0 $page-gutter;
  margin: auto;
}

.l-main {
  @include media($breakpoint-ipad) {
    @include span-columns(8);
  }
}

.l-sidebar {
  @include media($breakpoint-ipad) {
    @include span-columns(4);
  }
}
