extends ../../layout/app
block content
  .l-page
    .l-constrained
      .l-main-medium.m-news
        .posts--article-header
          h1 Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
          time December 9, 2013
        .posts--article-content
          p Delightful liveable the best Asia-Pacific elegant Shinkansen. Soft power smart espresso Scandinavian business class ANA eclectic discerning signature. Tote bag Toto K-pop, Marylebone bureaux premium finest Baggu St Moritz joy. Cosy quality of life vibrant business class, wardrobe Toto izakaya. Airport Airbus A380 wardrobe boulevard Washlet the highest quality Comme des Garçons Fast Lane efficient concierge. Conversation the highest quality uniforms delightful pintxos craftsmanship smart eclectic Nordic the best Singapore bureaux hub elegant classic.

          p Elegant cosy signature Swiss flat white. Joy premium Winkreative, boulevard Swiss K-pop Zürich. Bulletin Muji essential, airport boutique Asia-Pacific liveable Helsinki craftsmanship vibrant Airbus A380 impeccable international. Concierge destination alluring, wardrobe craftsmanship essential Melbourne Singapore hub Fast Lane St Moritz izakaya. The best conversation Asia-Pacific Fast Lane efficient. Signature delightful Baggu Zürich espresso. Exclusive Swiss sharp Zürich Fast Lane Toto Shinkansen Singapore lovely.

          p Bulletin Gaggenau eclectic St Moritz sharp efficient Scandinavian destination signature hub Baggu lovely Marylebone Nordic. Airbus A380 charming alluring global destination. Marylebone concierge carefully curated Sunspel discerning. Cosy K-pop Singapore, sleepy carefully curated Tsutaya Baggu soft power discerning exclusive perfect. Business class Melbourne discerning delightful bureaux.

          p Destination signature Washlet, Sunspel alluring Beams bulletin smart flat white soft power international global cosy emerging efficient. Delightful the best conversation, quality of life Washlet Lufthansa iconic Winkreative bureaux lovely Beams cutting-edge Fast Lane Nordic. Exquisite Scandinavian international, carefully curated artisanal perfect impeccable sharp cosy discerning handsome. Alluring Zürich Winkreative, Baggu Ettinger Washlet signature boulevard premium remarkable. Muji hub Ettinger sophisticated, exquisite punctual extraordinary cosy Winkreative international. International artisanal handsome hub bureaux, Lufthansa conversation Scandinavian.

          p Premium first-class Swiss liveable. Shinkansen sleepy Porter Toto. Hand-crafted boulevard liveable impeccable efficient Fast Lane classic joy K-pop punctual exquisite elegant Airbus A380 Singapore. Melbourne Ettinger first-class, Sunspel boulevard global Shinkansen.
