.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/acquisitions/acquisitions', class=isActive('/acquisitions/acquisitions')) Company Acquisitions
      li: a(href='/acquisitions/financing', class=isActive('/acquisitions/financing')) Stock Financing
