.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/acquisitions/company-acquisitions', class=isActive('/acquisitions/company-acquisitions')) Company Acquisitions
      li: a(href='/acquisitions/capitals-nols', class=isActive('/acquisitions/capitals-nols')) Capitals &amp; NOLS
      li: a(href='/acquisitions/why-signature', class=isActive('/acquisitions/why-signature')) Why Signature
