.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/governance/board-of-directors', class=isActive('/governance/board-of-directors')) Board Of Directors
      li: a(href='/governance/governance-documents', class=isActive('/governance/governance-documents')) Governance Documents
      li: a(href='/governance/governance', class=isActive('/governance/governance')) Governance
