.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='#', class=isActive('/governance/board')) Board Of Directors
      li: a(href='#', class=isActive('/governance/documents')) Governance Documents
      li: a(href='#', class=isActive('/governance/compostion')) Board Composition
