.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/governance/board', class=isActive('/governance/board')) Board Of Directors
      li: a(href='/governance/documents', class=isActive('/governance/documents')) Governance Documents
      li: a(href='/governance/composition', class=isActive('/governance/composition')) Board Composition
