.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='#', class=isActive('/opportunities/acquisitions')) Company Acquisitions
      li: a(href='#', class=isActive('/opportunities/financing')) Stock Financing
