.l-sidebar
  nav
    ul.m-sidebar-nav
      li: a(href='/opportunities/acquisitions', class=isActive('/opportunities/acquisitions')) Company Acquisitions
      li: a(href='/opportunities/financing', class=isActive('/opportunities/financing')) Stock Financing
