// Prepend selectors with a class specific to old IE
@mixin media-ie($args...) {

  @if length($args) > 0 {
    @include media($args...) {
      @content;
    }
  }

  .old-ie & {
    @content;
  }

}

// Add min-width to containers for old IE
@mixin ie-width {
  .old-ie & {
    min-width: $breakpoint-ipad;
  }
}

// Bourbon Neat last-child utility
.old-ie .u-ie-omega {
  margin-right: 0 !important;
}

// Show a label on IE8/9 only
label.u-ie-label {
  display: none;

  .ie8 &,
  .ie9 & {
    display: block;
  }

} // label.u-ie-label
