// Colors
$white:         #f0f2f2;
$off-white:     #f0f2f2;
$light-grey:    #d7d8d9;
$grey:          #7e7f80;
$dark-grey:     #585959;
$black:         #242626;
$blue:          #9dddf2;
$dark-blue:     #7cafbf;
$orange:        #e56950;
