#header {
  padding: 0.5em 0;
  background: $black;

  .header--logo {
    float: left;
    img { height: 4em; }
  }

  nav {
    float: right;
    padding: 0.5em 0 0.125 0;
  }

  ul {
    margin: 0;
    list-style: none;
    text-align: right;
  }

  li {
    display: inline-block;
    margin-left: 1em;
    &:first-child { margin-left: 0; }
  }

  a:hover {
    color: $blue;
  }

  a:active {
    color: darken($blue, 15%);
  }

  a.is-active {
    border-bottom: 2px solid $blue;
  }

  .header--social {
    color: $grey;
    font-size: 1.25em;
  }

  .header--nav {
    color: $white;
    font-family: $typeface-sans;
    font-weight: bold;
    text-transform: uppercase;

    a:hover, a:active {
      border-bottom: 2px solid;
    }

  }

} // #header
