.s-home-bg1 {
  background-image: image-url('bg1.jpg');
} // .s-home-bg1

.s-home-bg2 {
  background-image: image-url('bg2.jpg');
} // .s-home-bg2

.s-home-bg3 {
  background-image: image-url('bg3.jpg');
} // .s-home-bg3

.s-home-bg4 {
  background-image: image-url('bg4.jpg');
} // .s-home-bg4
