.m-posts {

  time {
    color: grey;
    font-size: 1em;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.25em;

    a { border: none; }

  }

    p {
      font-size: 1.125em;
    }

  a {
    color: $black;
    &:visited { color: $black; }
    &:hover { color: $blue; }
    &:hover { color: darken($blue, 15%); }
  }

  .posts--more {
    display: inline-block;
    margin-top: 2em;
    border-bottom: 1px solid;
    color: $orange;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    &:visited { color: $orange; }
    &:hover { color: darken($orange, 10); }
    &:active { color: darken (orange, 20); }
  }

  .posts--article {
    margin-bottom: 2em;
  }

  .posts--article-header {
    margin-bottom: 2em;

    h1 {
      margin-bottom: 0;
    }


  } //.posts--single

} // .posts
