.m-section {
  position: relative;
  overflow-y: hidden;
  background: $dark-grey no-repeat center top fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: $black;

  h1 {
    color: lighten($grey, 15);
  }

} // .m-section

.m-section-content {
  padding: 3em;
  background: $off-white;
  text-align: center;

  p {
    font-size: 1.5em;
  }

  a {
    color: $light-grey;
  }

} // .m-section-content

.m-section-padding {
  padding: 0 0 35em 0;
} // .m-section-padding
