extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_acquisitions
      .l-main.m-page
        h1 Capitals &amp; NOLs
        p Signature has substantial Federal NOLs that were amassed from the legacy business of Fremont General  and do not begin to expire until 2027.  These NOLs provide benefits to the Company as well as the businesses that are acquired.  Management is focused to ensure the NOLs are preserved and available in future periods.

        h2 General characteristics
        ul
          li Signature has no Section 382 limitation on annual usage of its Federal NOLs
          li There are no restrictions with regard to line of business
          li Signature has bylaws in place that prohibit stockholders from accumulating more than a 5% interest, without company approval
          li Signature has the ability to issue a substantial number of additional shares without jeopardizing NOLs
          li The Company may use rights offerings to raise capital from existing stockholkder to minimize any potential ownership shift issues
