extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_acquisitions
      .l-main.m-page
        h1 Company Acquisitions

        h2 Overview
        p Signature Group Holdings, Inc. is seeking to invest its capital in large, well-managed and consistently profitable businesses concentrated primarily in the United States industrial and commercial marketplace.

        h2 General Investment Criteria
        ul
          li Business consistenly producing pre-tax income of $25&ndash;75 million
          li Sustainable competitive advantage that can be maintained long-term
          li Proven management teams with the ability to operate with relative autonomy
          li Industry agnostic

        h2 Structure
        ul
          li Signature must own 80.1% or more of a business
          li Flexible approach with seller on deal consideration, including potentially using Signature common stock

        h2 Target Situations
        ul
          li High-margin businesses with low ongoing capital expenditure needs
          li Businesses with modest to low growth; consistency is more important
          li Industries or sectors where Signature can serve as a platform for growth via additional acquistions/consolidation
          li legacy private equity or hedge fund holding seeking an exit
          li Family businesses
          li Companies with limited or declining tax deductions
          li Carve-outs of non-core divisions of larger enterprises
