extends ../../layout/app
block content
  .l-page
    .l-constrained
      include ../../sidebars/_acquisitions
      .l-main.m-page
        h1 Why Signature
        p The right fit is important when selecting a firm to sell a company to or partner with. Pricing is a key element in the decision process but other factors much be considered. Signature offers many unique and positive attrivutes that will allow the transaction to close as scheduled with positive long term benefits.
        h2 Signature offers:
        ul
          li Permanent capital
          li Ability to close quickly
          li Our structure can help propel a good management team/company to industry leadership
          li Our investment horizon is long term
          li Holding company structure allows operating management autonomy
          li Public vehicle provides access to capital/liquidity for sellers and management teams
          li Stockholder aligned Board of Directors focused on stock price appreciation
