.s-latest-news {
  background-image: image-url("bg4.jpg");

  article {
    padding: 0.5em 0;
  }

  time {
    color: grey;
    font-size: 1em;
  }

  h2 {
    font-size: 1.25em;
  }

  a {
    color: $black;
    &:visited { color: $black; }
    &:hover { color: $blue; }
    &:hover { color: darken($blue, 15%); }
  }

  .latest-news--more {
    display: inline-block;
    margin-top: 2em;
    border-bottom: 1px solid;
    color: $orange;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    &:visited { color: $orange; }
    &:hover { color: darken($orange, 10); }
    &:active { color: darken($orange, 20); }
  } // .latest-news--more

} // .s-latest-news
