extends ../layout/app

block content

  section#intro.m-section.s-home-bg1.s-intro
    .l-constrained
      .l-constrained-medium
        .intro--statement-wrap
          .intro--statement
            h1 Signature Group Holdings
            h2 The Dawn of a New Day
            .intro--icon
              a.m-icon-effect(href="#description1")
                +icon("3b2")

  section#description1.m-section.m-section-padding.s-home-bg2
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Who We Are
          p Signature Group Holdings, Inc. is a publicly traded company being built for the sole purpose of enhanced shareholder value.
          a.m-icon-effect(href="#description2")
            +icon("3b2")

  section#description2.m-section.m-section-padding.s-home-bg3
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Where We Are Going
          p Signature Group Holdings, Inc. is seeking acquisitions of well-managed and consistently profitable businesses.
          a.m-icon-effect(href="#latest-news")
            +icon("3b2")

  section#latest-news.m-section.m-section-padding.m-posts.s-home-bg4
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Latest News

          article.posts--article
            time 12/09/13
            h2
              a(href="news/single-article") Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
          article.posts--article
            time 12/09/13
            h2
              a(href="/news/single-article") Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
          article.posts--article
            time 12/09/13
            h2
              a(href="/news/single-article") Signature Group Holdings, Inc. Reports Second Quarter 2013 Results

          a.posts--more(href="/news") Read More News
