extends ../layout/app

block content

  section#intro.m-section.s-intro
    .l-constrained
      .l-constrained-medium
        .intro--statement-wrap
          .intro--statement
            h1 Signature Group Holdings
            h2 The Dawn of a New Day
            .intro--icon
              a.m-icon-effect(href="#description1")
                +icon("3b2")

  section#description1.m-section.m-section-padding.s-description1
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Who We Are
          p Signature Group Holdings, Inc. is a publicly traded company being built for the sole purpose of enhanced shareholder value.
          a.m-icon-effect(href="#description2")
            +icon("3b2")

  section#description2.m-section.m-section-padding.s-description2
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Where We Are Going
          p Signature Group Holdings, Inc. is seeking to invest its capital in large, well-managed and consistently profitable businesses that will be accretive to earnings.
          a.m-icon-effect(href="#latest-news")
            +icon("3b2")

  section#latest-news.m-section.m-section-padding.s-latest-news
    .m-section-content
      .l-constrained
        .l-constrained-medium
          h1 Latest News

          article
            time 08/01/13
            h2
              a(href="#") Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
          article
            time 07/18/13
            h2
              a(href="#") Signature Group Holdings Announces 2013 Annual Meeting Results
          article
            time 06/05/13
            h2
              a(href="#") Signature Group Holdings Announces Settlement Agreement with New Signature LLC

          a.latest-news--more(href="#") Read More News
