extends ../layout/app
block content
  .l-page.m-page
    .l-constrained
      .l-main-medium.m-posts
        h1 Employment Opportunities

        article.posts--article
          h2.posts-article-title
            a(href='employment/job')
              | Title of Career Opportunity
        article.posts--article
          h2.posts-article-title
            a(href='employment/job')
              | Title of Career Opportunity
        article.posts--article
          h2.posts-article-title
            a(href='employment/job')
              | Title of Career Opportunity
