extends ../layout/app
block content
  .l-page.m-page
    .l-constrained
      .l-main-medium.m-posts
        h1 News

        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
        article.posts--article
          time December 9, 2013
          h2.posts-article-title
            a(href='news/single-article')
              | Signature Group Holdings, Inc. Reports Second Quarter 2013 Results
