extends ../layout/app
block content
  .l-page.m-page
    .l-constrained
      include ../sidebars/_style
      .l-main
        img.page-featured(src=assets.url('/images/bg1.jpg'))
        h1 Header 1
        h2 Header 2
        h3 Header 3
        h4 Header 4
        h5 Header 5
        h6 Header 6
        p Airport efficient first-class destination smart. The best Ginza cosy craftsmanship the highest quality Porter Shinkansen impeccable Boeing 787 eclectic Melbourne. Emerging alluring izakaya boulevard Shinkansen K-pop delightful business class Boeing 787. Airbus A380 emerging international, boulevard K-pop cutting-edge punctual extraordinary exclusive ryokan Baggu sleepy craftsmanship. Gaggenau Zürich cutting-edge uniforms, Helsinki punctual perfect first-class wardrobe charming ANA. Bureaux destination delightful lovely.

        p
            a(href="#") This is a Link
        p
            blockquote Boutique impeccable Toto iconic, Comme des Garçons tote bag global intricate. Nordic Melbourne Tsutaya Boeing 787 international Porter. The best conversation wardrobe Ettinger. Impeccable boutique emerging the highest quality K-pop. Porter smart cosy pintxos Muji. Perfect artisanal bespoke, eclectic boulevard the highest quality lovely smart Boeing 787 remarkable Toto Muji soft power ANA.
        p
            small Extraordinary Muji Airbus A380 espresso hub Comme des Garçons joy the highest quality cosy iconic quality of life Toto. Singapore premium alluring extraordinary bulletin Comme des Garçons the best cutting-edge exclusive Asia-Pacific ANA. Punctual craftsmanship charming Muji finest Winkreative. Global quality of life pintxos signature, alluring Asia-Pacific delightful.

        p
            strong This is an ordered list
            ol
                li List Item
                li List Item
                li List Item
                li List Item
                li List Item

        p
            strong This is an unordered list
            ul
                li List Item
                li List Item
                li List Item
                li List Item
                li List Item
