#footer
  .l-constrained
    .m-footer
      form.footer--newsletter
        input.footer--input(type="email", placeholder="Sign Up For Exclusive Updates")
        | &nbsp;
        a.btn(href="#") Submit
      nav
        ul
          li
            a(href="#") Employment Opportunities
          li &bull;
          li
            a(href="#") Contact Us

      .footer-info
        small Signature Group Holdings, Inc. 15303 Ventura Boulevard, Suite 1600 Sherman Oaks, CA 91403
