#header.header
  .l-constrained

    .header--logo
      img(src=assets.url('/images/logo.png'))

    nav.header--menu

      ul.header--social
        li
          a(href="https://www.twitter.com", target="_blank")
            +icon("49d")
        li
          a(href="https://www.facebook.com.com", target="_blank")
            +icon("499")
        li
          a(href="mailto:invrel@signaturegroupholdings.com")
            +icon("48f")

      ul.header--nav
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Vision
        li
          a(href="#") Resources
        li
          a(href="#") Governance
        li
          a(href="#") News
